<!DOCTYPE html>
<html lang="ja" data-theme="<%= theme %>">
<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
  <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
  <style><%- cssContent %></style>
  <script>window.apiDocs = <%- apiDocs %></script>
</head>
<body>
  <elements-api router="hash" class="elements-api"></elements-api>
  <script><%- jsContent %></script>
</body>
</html>